extends layoutBS

block content
    .body
      .margin
        h2.text-monospace Potato
          .margin2
        hr
        br
        h3.text-monospace.font-weight-bold Flights
        br
        .jumbotron
          form.text-monospace(method="post")
            .form-row
              .form-group.col-md-5
                label(for="depart") From
                input.text-monospace#destination.form-control(name="depart" type="text" placeholder="e.g. Boston")
              .form-group.col-md-2
              .form-group.col-md-5
                label(for="arrive") To 
                input.text-monospace#city.form-control(name="arrive" type="text" placeholder="e.g. New York")
            .form-row
              .form-group.col-md-5
                label(for="departDate") Departure Date
                input#departDate.form-control(name="depdate" type="date" placeholder="06.10.2018")
              .form-group.col-md-2
              .form-group.col-md-5
                label(for="returnDate") Return Date
                input#returnDate.form-control(name="retdate" type="date" placeholder="06.10.2018")
            .form-group
              label(for="airline") Airline
              select.text-monospace#airline(name="airline").form-control
                option(selected="") Choose...
                option Alaska
                option Air New Zealand
                option Air France
                option Austrian Airlines
                option All Nippon Airlines
                option Cathay Pacific Airways
                option Delta Air Lines
                option Etihad Airways
                option EVA Air
                option JetBlue
                option Hainan Airline
                option Lufthansa
                option Japan Airlines
                option Qantas Airline
                option Qatar Airways
                option Singapore Airlines
                option Swiss International Air Lines
                option United Airlines
                option Thai Airways
                option Turkish Airlines
                option Virgin Australia
            .form-row
              .form-group.col-md-6
                label Flight Number
                input.form-control(name="flight" type="text" placeholder="e.g. HU481")
              .form-group.col-md-6
                label Travellers
                select(name="travellers").form-control
                  option(selected="") Choose...
                  option 1
                  option 2
                  option 3
                  option 4
                  option 5+
            button.btn.btn-warning.btn-lg(type="submit") Go
        br
        hr
        h5.font-weight-bold.text-monospace Best Airlines
        br
        .row
          .col-4
            #list-tab.list-group.text-monospace(role="tablist")
              a#list-alaska-list.list-group-item.list-group-item-action.active(data-toggle="list" href="#list2-1" role="tab" aria-controls="alaska") Alaska Airlines 
              a#list-hawaiian-list.list-group-item.list-group-item-action(data-toggle="list" href="#list2-2" role="tab" aria-controls="hawaiian") Hawaiian Airlines 
              a#list-southwest-list.list-group-item.list-group-item-action(data-toggle="list" href="#list2-3" role="tab" aria-controls="southwest") Southwest Airlines
              a#list-jetblue-list.list-group-item.list-group-item-action(data-toggle="list" href="#list2-4" role="tab" aria-controls="jetblue") JetBlue 
              a#list-settings-list.list-group-item.list-group-item-action(data-toggle="list" href="#list2-5" role="tab" aria-controls="settings") Frontier
          .col-8
            #nav-tabContent.text-monospace.tab-content
              #list2-1.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="list-alaska-list")
                | Alaska Airlines is a Seattle-based company and has been hugely popular with West Coast travelers. Its acquisition of Virgin America vastly extended its network. 
                | The combined entity now ranks as the fifth-largest airline in the U.S., flying to more than 115 destinations; new routes cover spots like Mexico City, Philadelphia and Raleigh.
                br
                br
                | Avg.price per roundtrip flight: $450
                br
                | Share of on-time arrivals: 85.29% 
                br
                br
                img.card-img-topimg(src='/images/alaska.jpg' width='70%')
              #list2-2.tab-pane.fade(role="tabpanel" aria-labelledby="list-hawaiian-list")
                | Hawaiian Airlines is a leading provider of air service between the Hawaiian Islands with a total of more than 250 daily flights system-wide. It has led 
                | all U.S. carriers in on-time performance for the past 14 years as reported by the U.S. Department of Transportation. In addition, it also has the fewest denied boarding rate. 
                br
                br
                | Avg.price per roundtrip flight: $625
                br
                | Share of on-time arrivals: 88.68% 
                br
                br
                img.card-img-topimg(src='/images/hawaiian.jpg' width='70%')
              #list2-3.tab-pane.fade(role="tabpanel" aria-labelledby="list-southwest-list")
                | Southwest Airlines provides scheduled air transportation in the United States and near-international markets. It provides its markets with frequent and conveniently timed flights 
                | and low fares. Southwest's point-to-point route structure allows more direct nonstop routing. The company boasts the lowest rate of consumer complaints in the overall US Airline ratings. 
                br
                br
                | Avg.price per roundtrip flight: $415
                br
                | Share of on-time arrivals: 87.17% 
                br
                br
                img.card-img-topimg(src='/images/southwest.jpg' width='70%')
              #list2-4.tab-pane.fade(role="tabpanel" aria-labelledby="list-jetblue-list")
                | JetBlue Airways is New York's Hometown Airline. It carried over 30 million passengers with an average of 800 daily flights and served 82 destinations in the United States, the Caribbean and Latin 
                | America. JetBlue is famous for tis differentied product and culture (e.g. offering the most legroon in coach), competitive costs, and high value geography. 
                br
                br
                | Avg.price per roundtrip flight: $414
                br
                | Share of on-time arrivals: 86.34% 
                img.card-img-topimg(src='/images/JetBlue.jpg' width='70%')
              #list2-5.tab-pane.fade(role="tabpanel" aria-labelledby="list-settings-list")
                | The 8.69 claim processing score, 8 on service, and 85% on-time performance put South Africa's airline in fifth place.
                br
                br
                img.card-img-topimg(src='/images/southafrica.jpg' width='70%')

        br
        br
        br
        hr
        h3.text-monospace.font-weight-bold Top Reviews
        .row
          .col-10
          .col-2
            a.text-warning.text-monospace(href="/reviews") Write a review           
        form.text-monospace(method="post")
          ol
            each review in reviews
              .jumbotron
                i #{review.name} - (#{review.airline}, From #{review.origin}, To #{review.destination})
                .row
                  .col-4
                    b #{review.reviewTitle}
                  .col-2 
                    b Rating: #{review.rating}
                  .col-5
                    i  #{review.cabin} class, #{review.flightnumber}
                e Reviews: #{review.review}
                br
                e Photo: #{review.photo}
                br
                b Other Info
                br 
                e Legroom: #{review.legroom} Seat Comfort: #{review.seatComfort}
                br
                e Cleaniess: #{review.cleaniess} Service: #{review.service}
                br
                e Food: #{review.food} Entertainment: #{review.entertainment}
                br
                br
