extends layoutBS

block content
    .body
      .margin
        h2.text-monospace Potato
          .margin2
        hr
        br
        h3.text-monospace.font-weight-bold My Flight Reviews
        br
        form(method="post" action="deleteReview1")
          ol
            each r in review
              .jumbotron
                input(name="reviewID" value=r._id type="checkbox")
                i #{r.name} - (#{r.airline}, From #{r.origin}, To #{r.destination})
                .row
                  .col-4
                    b #{r.reviewTitle}
                  .col-2 
                    b Rating: #{r.rating}
                  .col-5
                    i  #{r.cabin} class, #{r.flightnumber}
                e Reviews: #{r.review}
                br
                e Photo: #{r.photo}
                br
                b Other Info
                br 
                e Legroom: #{r.legroom} Seat Comfort: #{r.seatComfort}
                br
                e Cleaniess: #{r.cleaniess} Service: #{r.service}
                br
                e Food: #{r.food} Entertainment: #{r.entertainment}
                br
            input(type="submit" value="Delete checked items")
            hr
            br
            br
        h3.text-monospace.font-weight-bold My Hotel Reviews
        br
        form(method="post" action="deleteHotelReview1")
          ol
            each h in hotelReview
              .jumbotron
                input(name="reviewID" value=h._id type="checkbox")
                i #{h.name} - (#{h.hotelName}) - #{h.city}, #{h.state}
                .row
                  .col-4
                    b #{h.reviewTitle}
                  .col-2
                    b Rating: #{h.rating}
                  .col-5
                    i #{h.hotelName}
                e Travel Purpose: #{h.purpose}
                br
                e Reviews: #{h.review}
                br
                e Photo: #{h.photo}
                br
                b Other info:
                br
                e Service: #{h.service} Location: #{h.location} 
                br
                e Food: #{h.food} Value: #{h.value} 
                br
                e Cleanienss: #{h.cleanienss} Entertainment: #{h.entertainment} 
                br
                br
              input(type="submit" value="Delete checked items")
              hr
